<!--
*HTML
*Academicos 
*Nuevo
-->

<!--<nav class="navbar navbar-default titulo transparente" role="navigation">
  <p>Nuevo Academico</p>
</nav>-->

<form class="form-crud"role="form" name="forma">
  <div class="form-title" >Nuevo Academico</div>
  <div class="row">

   <div class="col-md-6" ng-class="{'has-success': forma.rutAcademico.$valid, 'has-error': forma.rutAcademico.$invalid && !forma.rutAcademico.$pristine }">
     <label class="label-white" for="inputRut">Rut</label>
     <div class="input-group">
       <input name="rutAcademico" id="inputRut" ng-maxlength="20" type="text" ng-rut rut-format="blur"
       class="form-control" placeholder="Rut" ng-model="academico.rut" required>
       <span ng-hide="!forma.rutAcademico.$pristine" class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
       <span ng-show="forma.rutAcademico.$invalid && !forma.rutAcademico.$pristine"class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
       <span ng-show="forma.rutAcademico.$valid && !forma.rutAcademico.$pristine"class="input-group-addon"><span class="glyphicon glyphicon-ok"></span></span>
     </div>
 </div>

 <div class="col-md-6" ng-class="{'has-error': forma.nombreAcademico.$invalid && !forma.nombreAcademico.$pristine }">
  <label class="label-white" for="inputNombre">Nombre</label>
  <div class="input-group">
    <input name="nombreAcademico" id="inputNombre" ng-maxlength="25" type="text" ng-pattern="/^[a-zA-Z ñáéíóúÑÁÉÍÓÚ]*$/"
    class="form-control" placeholder="Nombre(s)" ng-model="academico.nombres" required>
    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
  </div>
  <b ng-show="forma.nombreAcademico.$invalid && !forma.nombreAcademico.$pristine && !forma.nombreAcademico.$error.pattern"
  class="help-block">El campo Nombre es oblgatorio.</b>
  <b ng-show="forma.nombreAcademico.$error.pattern" class="help-block">El campo Nombre contiene caracteres inválidos</b>
</div>

</div><!--row-->
<div class="row">

  <div class="col-md-6" ng-class="{'has-error': forma.apellidoAcademico.$invalid && !forma.apellidoAcademico.$pristine }">
    <label class="label-white" for="inputApellido">Apellido</label>
    <div class="input-group">
      <input name="apellidoAcademico" id="inputApellido" ng-maxlength="25" type="text" ng-pattern="/^[a-zA-Z ñáéíóúÑÁÉÍÓÚ]*$/"
      class="form-control" placeholder="Apellido(s)" ng-model="academico.apellidos" required>
      <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
    <b ng-show="forma.apellidoAcademico.$invalid && !forma.apellidoAcademico.$pristine && !forma.apellidoAcademico.$error.pattern"
    class="help-block">El campo Apellido es oblgatorio.</b>
    <b ng-show="forma.apellidoAcademico.$error.pattern" class="help-block">El campo Apellido contiene caracteres inválidos</b>
  </div>

  <div class="col-md-6" ng-class="{'has-error': forma.tituloAcademico.$invalid && !forma.tituloAcademico.$pristine}">
    <label class="label-white" for="inputTitulo">Título Profesional</label>
      <input name="tituloAcademico" id="inputTitulo" ng-maxlength="60" type="text" ng-pattern="/^[a-zA-Z ñáéíóúÑÁÉÍÓÚ\.]*$/"
      class="form-control" placeholder="Titulo Profesional" ng-model="academico.tituloProfesional">
    <b ng-show="forma.tituloAcademico.$error.pattern" class="help-block">El campo Título Profesional contiene caracteres inválidos</b>
  </div>

</div><!--row-->
<div class="row">

  <div class="col-md-6" ng-class="{'has-error': forma.gradoAcademico.$invalid && !forma.gradoAcademico.$pristine}">
    <label class="label-white" for="inputGrado">Grado Académico</label>
      <input name="gradoAcademico" id="inputGrado" ng-maxlength="25" type="text" ng-pattern="/^[a-zA-Z ñáéíóúÑÁÉÍÓÚ]*$/"
      class="form-control" placeholder="Grado Académico" ng-model="academico.gradoAcademico"></input>
    <b ng-show="forma.gradoAcademico.$error.pattern" class="help-block">El campo Grado Académico contiene caracteres inválidos</b>
  </div>

   <div ng-hide="hide.adminContent" class="col-md-6">
      <label class="label-white" for="selectFacultad">Facultad</label>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-adjust"></span></span>
        <select name="facultadDepartamento" id="selectFacultad" ng-model="changer.facultad" class="form-control" ng-options="facultad for facultad in facultadesSeleccion" ng-change="cambiarCodFacultad(changer.facultad)">
        </select>
      </div>
    </div>
</div><!--row-->
<div class="row">
  <div class="col-md-6">
    <label class="label-white" for="selectDepartamento">Departamento</label>
    <div class="input-group">
     <span class="input-group-addon"><span class="glyphicon glyphicon-adjust"></span></span>
     <select name="departamentoAcademico" id="selectDepartamento" class="form-control"  ng-model="changer.departamento" ng-options="departamento for departamento in departamentosSeleccion" ng-change="cambiarCodDepartamento(changer.departamento)">
     </select>
   </div>
 </div>

  <div class="col-md-2">
    <label class="label-white" for="InputCategoria">Categoría</label>
    <div class="input-group">
     <span class="input-group-addon"><span class="glyphicon glyphicon-adjust"></span></span>
     <select name="categoriaAcademico" id="categoria" class="form-control"  ng-model="academico.categoria" ng-options="categoria for categoria in categorias">
     </select>
   </div>
 </div>

 <div class="col-md-2" ng-class="{'has-error': forma.horasAcademico.$invalid, 'has-success': forma.horasAcademico.$valid && !forma.horasAcademico.$pristine}">
  <label class="label-white" for="inputHoras">Horas</label>
   <input name="horasAcademico" id="inputHoras" ng-maxlength="2" type="number" min="0" max="44"
   class="form-control" placeholder="Máximo 44" ng-model="academico.horas">
 <b ng-show="forma.horasAcademico.$error.min" class="help-block">Las horas no pueden ser negativas</b>
 <b ng-show="forma.horasAcademico.$error.max" class="help-block">No se pueden superar las 44 horas</b>
</div>

<div class="col-md-2" ng-class="{'has-error': forma.tipoPlantaAcademico.$invalid && !forma.tipoPlantaAcademico.$pristine}">
  <label class="label-white" for="inputTipoPlanta">Tipo Planta</label>
    <input name="tipoPlantaAcademico" id="inputTipoPlanta" ng-maxlength="25" type="text" ng-pattern="/^[a-zA-Z0-9° ñáéíóú]*$/"
    class="form-control" placeholder="El tipo de Planta" ng-model="academico.tipoPlanta">
  <b ng-show="forma.tipoPlantaAcademico.$error.pattern" class="help-block">El campo Tipo Planta contiene caracteres inválidos</b>
</div>
</div><!--row-->

<ed-agregar></ed-agregar>
<img class="spin" src="images/spinner.gif" ng-show="sending">
</form>
















