<!--
*HTML
*Facultades 
*Nuevo
-->
<form class="form-crud" role="form" name="forma">
<div class="form-title">Nueva Facultad</div>
	<div class="row">
		<div class="col-md-8" ng-class="{'has-error': forma.anioComision.$invalid && !forma.anioComision.$pristine }">
			<label for="inputNombre">Nombre</label>
			<div class="input-group">
				<input ng-pattern="/^[a-zA-Z ñáéíóúÑÁÉÍÓÚ\.]*$/" id="inputNombre" ng-maxlength="60" type="text" class="form-control" placeholder="Nombre de la Facultad" name="anioComision" ng-model="facultad.nombre" required>
				<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
			</div>
			<b ng-show="forma.anioComision.$invalid && !forma.anioComision.$pristine && !forma.anioComision.$error.pattern"
			class="help-block">El campo Nombre es oblgatorio.</b>
			<b ng-show="forma.anioComision.$error.pattern" class="help-block">El campo Nombre contiene caracteres inválidos</b>
		</div>
	</div><!--row-->
	<div class="row">
		<div class="col-md-8" ng-class="{'has-error': forma.facultadComision.$invalid && forma.facultadComision.$dirty}">
			<label for="inputDecano">Decano</label>
				<input ng-pattern="/^[a-zA-Z ñáéíóúÑÁÉÍÓÚ\.]*$/" id="inputDecano" ng-maxlength="60" type="text" class="form-control" placeholder="Decano" name="facultadComision" ng-model="facultad.decano">
				<b ng-show="forma.facultadComision.$error.pattern" class="help-block">El campo Decano contiene caracteres inválidos</b>
		</div>
	</div><!--row-->

	<ed-agregar></ed-agregar>
	<img class="spin" src="images/spinner.gif" ng-show="sending">

</form>
